# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.log
*.pot

# Environment
.env
.env.*

# Virtual environments
venv/
.venv/
env/
.envrc

# IDEs/editors
.vscode/
.idea/
*.sw?
*~ 
*.bak

# Byte-compiled, cache, test, notebook
*.ipynb_checkpoints
*.pytest_cache/
.cache/
*.mypy_cache/

# Dist
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.manifest

# Docker
*.pid
*.seed
docker-compose.override.yml

# Local volumes, DB, uploads
postgres_data/
rabbitmq/
media/
staticfiles/
uploads/

# Nginx, app logs and temp
nginx/logs/
*.sqlite3

# OS Specific
.DS_Store
Thumbs.db

# Node (if in project)
node_modules/
npm-debug.log

# Coverage
htmlcov/
.coverage
coverage.xml
*.cover

# Misc
*.swp
.sass-cache/